<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Note</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <header
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        >
          <div class="col-md-3 mb-2 mb-md-0">
            <a
              href="/"
              class="d-inline-flex link-body-emphasis text-decoration-none"
            >
              <img src="assets/icons/book-note-icon.png" alt="booknote"  class="site-logo">
            </a>
          </div>
          
          <div class="col-md-3 text-end">
            <% if (locals.user){ %>
                
                <a href="/logout"><button type="button" class="btn btn-outline-danger me-2">Log Out</button></a>
                <a href="/dashboard"><button type="button" class="btn btn-primary">Dashboard</button></a>
            <% } else { %>
            <a href="/login"><button type="button" class="btn btn-outline-primary me-2">
              Login
            </button></a>
            <a href="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
            <% } %>
          </div>
        </header>
      </div>
   
